<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreateUser</title>
</head>
<body>
<div align="center">
    <h1>New User</h1>
    <form action="#" th:action="@{/save}" th:object="${createNewUser}" method="POST">
        <table cellspacing="1" cellpadding="5" border="1" width="30%">
            <tr>
                <td>First Name - </td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" th:field="*{lastName}" /></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input type="text" th:field="*{age}" /> </td>
            </tr>
            <tr>
                <td><input type="submit" value="Create" /></td>
            </tr>
        </table>

        <h2><a href="/"> return to main page</a></h2>
    </form>
</div>
</body>
</html>